{% extends 'base.html' %}

<h1>List</h1>

{% block content %}
<table>
    <tr>
        <th>ID</th>
        <th>Word</th>
        <th>Translation</th>
        <th>Score</th>
        <th>View</th>
        <th>Update</th>
    </tr>
    {% for word in words %}
    <tr>
        <td>{{word.id}}</td>
        <td>{{word.word1}}</td>
        <td>{{word.word2}}</td>
        <td>{{word.score}}</td>
        <td><a href="{% url 'words:single' uuid=word.id %}">View</a></td>
        <td><a href="{% url 'words:update' uuid=word.id %}">Update</a></td>
        <td><a href="{% url 'words:delete' uuid=word.id %}">Delete</a></td>
    <tr>


        {% endfor %}
</table>
{% endblock content %}